@media screen and (min-width: 992px) and (max-width: 1999){
.titre .bouton {
  position: relative;
  left : 5%;
 }
 .modif {
   margin-bottom: 10px;
   margin-top: 10px;
   position: relative;
   left: 0px;
   bottom: 0px;
 }
}

@media screen and (min-width: 1200px) {
  .titre  {
    position: relative;
    left : 5%;
   }
   /*.modif {
     position: relative;
    left: 0px;
    bottom: 0px;
  }*/
}

@media screen and (min-width: 768px) and (max-width: 991px){
  .titre  {
    position: relative;
    left : 10%;
   }
   .modif {
     margin-top: 10px;
     margin-bottom: 10px;
     position: relative;
    left: 0px;
    bottom: 0px;
  }
}

@media screen and (max-width: 768px){
  .titre  {
    position: relative;
    left : 5%;
   }
   .modif {
     margin-top: 10px;
     margin-bottom: 10px;
     position: relative;
    left: 0px;
    bottom: 0px;
  }
}
