li {
 list-style: none;
}

html {
 background-color: #FFAA3E;
}

a {
  text-decoration: none;
  color: black;

}
.content {
 display: flex;
 justify-content: space-around;
 margin-top: 50px;
}

.mot {
 border: 1px solid black;
 padding: 10px;
 width: 500px;
 background: grey;
 border-radius: 1em;
}

.joueur {
 border: 1px solid black;
 padding: 10px;
 width: 500px;
 background: grey;
 border-radius: 1em;
}

.addjoueur {
 margin-top: 10px;
}

.addmot {
 margin-top: 10px;
}

.listejoueur {
  padding: 5px;
 border: 1px solid white;
 background: white;
}

.listemot {
 padding: 5px;
 border: 1px solid white;
 background: white;
}

.titre {
 margin-left: 750px;
 margin-right: 500px;
 margin-bottom: 10px;
 border: 1px solid black;
 color: white;
 font-size: 1.5em;
 background: grey;
 padding: 5px;
 width: 115px;
}

.bouton {
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 2em;
  padding: 10px;
  background: grey;
  width: 100px;
  position: relative;
  left: 700px;
}

.modif {
  margin-top: 10px;
  position: relative;
  left: 160px;
  bottom: 30px;
}

.input {
  border-radius: 2em;
}
